@media screen and (max-width:990px)
{
    .top-contact{
        margin-right:2vw !important;
    }
    .top-links{
        display: none;
    }
    #top-toggle{
        display: inline;
    }
    .togglebtn{
        display: block;
    }
    #contact-us-cards .card{
        float: none;
        width: 70%;
        margin: 0 auto;
    }
    .infobox1, .infobox2, .arrow1, .arrow2{
        display: none;
    }
    .responsive-infobox{
        background: white;
        /* width: 60vw; */
        border-radius: 1vh;
        display:none;
        margin: 0 auto;
        margin-top: 3.8vh;
        /* height: 50vh; */
        /* border:1px solid red; */
    }
    .navbar ul li{
        margin-left: 1.5vw;
    }
    .nav-tabs .nav-link:last-child{
        font-size: 1vw;
    }
    .footer-menu{
        /* width: 100% !important; */
        font-size: 1.5vw;
        /* border:1px solid red; */
        /* padding: 2vh; */
    }
}
@media screen and (min-width: 550px) and (max-width: 770px) {
    .dropdown-menu{
        width: 10vw !important;
        font-size: 1.5vw !important;
        transform: none !important;
        top:4vw !important;
      }
    #Features .card{
        width: 50vw;
    }
    .top-nav{
        font-size: 2vw;
    }
    .responsive-infobox{
        font-size: 3vw;
        width: 80vw;
    }
    .footer-menu{
        /* width: 100% !important; */
        font-size: 1.5vw;
        /* border:1px solid red; */
        /* padding: 2vh; */
    }
    #about{
        display: block;
        width: 100% !important;
        float: none;
    }
    #contact{
        display: block;
        width: 100% !important;
        float: none;    
    }
    .nav-tabs .nav-link{
        font-size: .9vw;
    }
    
}

@media screen and (min-width: 390px) and (max-width: 515px) {
    
    .nav-tabs .nav-item:last-child{
        /* display: inline-block; */
        /* border: 1px solid red; */
        font-size: 1vw;
    }
    .nav-link{
        font-size: 1.1vw !important;
    }
}
@media screen and (max-width: 390px) {
    body{
        width: 115vw;
    }
    .nav-tabs .nav-item:last-child{
        /* display: inline-block; */
        /* border: 1px solid red; */
        font-size: .5vw;
    }
    .nav-tabs.nav-link{
        border: 1px solid red;
        font-size: 1vw !important;
    }
    
}